rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }
    
    match /accounts/{document=**} {
    	allow read: if true;
      
      match /{docId} {
        allow create: if isAuthUid(docId) 
          && incomingData().email != null
          && incomingData().phoneNumber != null
          && incomingData().firstName != null
          && incomingData().lastName != null;
        allow update: if isAuthUid(docId);
      }
    }
    
    match /companies/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if isAuthUid(docId) 
          && incomingData().name != null
          && incomingData().email != null
          && incomingData().phoneNumber != null;
        allow update: if (isCompanyId(docId) 
        	&& (isAuthUid(docId) || isOwner()));
      }
    }
    
    match /admins/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin() && hasRole('canManageAdmins'))))
          && incomingData().company != null
          && incomingData().email != null
          && incomingData().phoneNumber != null
          && incomingData().firstName != null
          && incomingData().lastName != null;
        allow update, delete: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin() && hasRole('canManageAdmins')));
      }
    }  
    
    match /departments/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isAdmin()))
          && incomingData().company != null
          && incomingData().name != null
          allow update: if isCompanyId(existingData().company.docId)
        	&& (isAdmin()); 
         allow delete: if request.auth != null && request.auth.token.isAdmin;
      }
    }
    
    match /vehicles/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin() && hasRole('canManageVehicles'))))
          && incomingData().company != null
          && incomingData().regNumber != null
          && incomingData().name != null
          && incomingData().make != null
          && incomingData().model != null
          && incomingData().status != null;
        allow update: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin() && hasRole('canManageVehicles')));
      }
    }
    
    match /drivers/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin() && hasRole('canManageDrivers'))))
          && incomingData().company != null
          && incomingData().email != null
          && incomingData().phoneNumber != null
          && incomingData().firstName != null
          && incomingData().lastName != null;
        allow update: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin() && hasRole('canManageDrivers')));
      }
    }
    
    match /suppliers/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin() && hasRole('canManageDrivers'))))
          && incomingData().company != null
          && incomingData().name != null
          && incomingData().email != null
          // && incomingData().conctacts != null
          && incomingData().typeOfSupplies != null;
        allow update: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin() && hasRole('canManageSuppliers')));
      }
    }  
    
    match /clients/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin())))
          && incomingData().company != null
          && incomingData().firstName != null
          && incomingData().lastName != null
          && incomingData().email != null
          && incomingData().phoneNumber != null
        allow update,delete: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin()));
      }
    } 
        
    match /maintenance/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin() && hasRole('canManageVehicles'))))
          && incomingData().company != null
        allow update: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin() && hasRole('canManageVehicles')));
      }
    } 
    
    match /jobcard/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin() && hasRole('canManageVehicles'))))
          && incomingData().company != null
        allow update: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin() && hasRole('canManageVehicles')));
      }
    } 
    
    match /classes/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin())))
          && incomingData().company != null
        allow update: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin()));
      }
    }
    
    match /trips/{document=**} {
    	allow read: if isAuthenticated();
      
      match /{docId} {
        allow create: if (isCompanyId(incomingData().company.docId) 
        	&& (isOwner() || (isAdmin() && hasRole('canManageTrips')))) 
          && incomingData().company != null
          && incomingData().client != null
          && incomingData().driver != null;
        allow update: if isCompanyId(existingData().company.docId)
        	&& (isOwner() || (isAdmin() && hasRole('canManageTrips')));
      }
    }
    
    
    // UTILITY FUNCTIONS
    function isAuthenticated() {
      return request.auth.uid != null;
    }

    function isAuthUid(uid) {
      return request.auth.uid == uid;
    }
    
    function isAdmin() {
      return request.auth.token.isAdmin;
    }
    
    function isOwner() {
      return request.auth.token.isOwner;
    }
    
    function isCompanyId(companyId) {
      return request.auth.token.companyId == companyId;
    }
    
    
    function hasRole(role) {
    return role in request.auth.token.roles;
     }


    // [READ] Data that exists on the Firestore document
    function existingData() {
      return resource.data;
    }

    // [WRITE] Data that is sent to a Firestore document
    function incomingData() {
      return request.resource.data;
    }
  }
}
